# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# production
/client/build

# misc
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build files
build/
dist/

# Logs
*.log
server_backup_old/error.log
server_backup_old/server.log

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# Operating System
.DS_Store
Thumbs.db

# Temporary files
/server/uploads/
*.tmp
